.visually-hidden
  position: absolute
  white-space: nowrap
  width: 1px
  height: 1px
  overflow: hidden
  border: 0
  padding: 0
  clip: rect(0 0 0 0)
  clip-path: inset(50%)
  margin: -1px

fieldset
  position: absolute
  z-index: 1
  background-color: lightyellow
  border: 1px solid
  padding: 5px 0

  label
    display: block

    &:hover,
    &.selected
      cursor: pointer
      background-color: #000
      color: lightyellow

#alerts
  margin: 0 0 6px 0
  font-style: italic

  p
    margin: 0

.control
  margin: 6px 0

input[type="text"]
  width: 140px

label
  display: inline-block
  width: 200px
  vertical-align: top

.description
  margin-left: 200px
  margin-top: 0

fieldset
  margin: -1px 0 0 200px

  .control
    margin: 0

  label
    min-width: 144px
    // width: 100%
